* { margin:0; padding:0; box-sizing:border-box; } 



body {
	color:#9fd6c2;
	font-size:16px;
	font-family: 'Merriweather', serif;
	font-weight:400;
}

section#splash {
	height:100vh; 
	background: #777777;
}

section#samples class="clearfix"{
	background:#999999;
}

section#samples div{
	margin:1em;
	float:left;
	width:28%;
}

h1 {
	font-size:3em;


}
.clearfix:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
}