!***Note insert clear***!

body {
	color:#333;
	font-size:16px;
	font-family: ;
}

.logo {
	font-size:3.125em;
	font-famiy:'Covered By Your Grace', cursive;
}

h1 {
	font-size:2em;
	font-family:'Lora', serif;
	font-weight:400;
}

p { 
	font-family: 'Open Sans', sans;
	font-weight:400;
}